.stat-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.stat-icon {
  border-radius: var(--radius-btn);
  background-color: rgba(177, 177, 177, 0.281);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: var(--color-card-dark);
  background-size: calc(100% + 2px) calc(100% + 2px);
  background-position: center;
}

.stat-label {
  color: var(--color-text-secondary);
  font-size: 16px;
}

.stat-value {
  font-weight: bold;
}
