<div class="glass-card dashboard-stats text-text-primary flex justify-between">
  <div class="stat-item">
    <div class="stat-icon">
      <lucide-icon [img]="Users" [size]="18" [strokeWidth]="1.5" />
    </div>
    <div class="stat-info">
      <p class="stat-label">Active Nurses</p>
      <span class="stat-value">2</span>
    </div>
  </div>

  <div class="stat-item">
    <div class="stat-icon">
      <lucide-icon [img]="Clock" [size]="18" [strokeWidth]="1.5" />
    </div>
    <div class="stat-info">
      <p class="stat-label">Daily Logins</p>
      <span class="stat-value">29</span>
    </div>
  </div>

  <div class="stat-item">
    <div class="stat-icon">
      <lucide-icon [img]="CircleAlert" [size]="18" [strokeWidth]="1.5" />
    </div>
    <div class="stat-info">
      <p class="stat-label">Recently Flagged</p>
      <span class="stat-value">49</span>
    </div>
  </div>
</div>
