<div class="glass-card dashboard-recentPatients card-dark flex flex-col gap-2">
  <h2 class="text-text-primary text-1xl font-semibold">Recent Patients</h2>

  <div class="table">
    <div class="table-container">
      <table class="text-left w-full">
        <thead>
          <tr class="text-text-secondary border-b-2 border-b-surface-border">
            <th>ID</th>
            <th>Date</th>
            <th>Locatione</th>
            <th>Nurse Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>Gauteng</td>
            <td><span class="status status-online">Online</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>PE</td>
            <td><span class="status status-offline">Offline</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>PE</td>
            <td><span class="status status-offline">Offline</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>Durban</td>
            <td><span class="status status-away">Away</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>Durban</td>
            <td><span class="status status-offline">Offline</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
