.dashboard-recentPatients {
  position: relative;
}

td {
  padding: 0.2rem 0.2rem;
}

tr:hover {
  background-color: var(--color-surface);
}

.table-container {
  overflow-y: auto;
  max-height: 300px; /* or whatever fits your card */
  padding-right: 1rem;
}

.table-container::-webkit-scrollbar {
  width: 4px;
}

.table-container::-webkit-scrollbar-track {
  background: transparent;
}

.table-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 999px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
