<div class="glass-card client-profile__referrals flex flex-col gap-2 h-full">
  <h2 class="text-text-primary text-1xl font-semibold">Referrals</h2>
  <div class="referrals-grid">
    <div class="referral-item referral-item--yes">
      <lucide-icon [img]="Check" [size]="14" />
      <span>Antenatal Care</span>
    </div>
    <div class="referral-item referral-item--no">
      <lucide-icon [img]="XIcon" [size]="14" />
      <span>Art</span>
    </div>
    <div class="referral-item referral-item--yes">
      <lucide-icon [img]="Check" [size]="14" />
      <span>Antenatal Care</span>
    </div>
    <div class="referral-item referral-item--no">
      <lucide-icon [img]="XIcon" [size]="14" />
      <span>Art</span>
    </div>
    <div class="referral-item referral-item--yes">
      <lucide-icon [img]="Check" [size]="14" />
      <span>Antenatal Care</span>
    </div>
    <div class="referral-item referral-item--no">
      <lucide-icon [img]="XIcon" [size]="14" />
      <span>Art</span>
    </div>
    <div class="referral-item referral-item--no">
      <lucide-icon [img]="XIcon" [size]="14" />
      <span>Art</span>
    </div>
    <div class="referral-item referral-item--no">
      <lucide-icon [img]="XIcon" [size]="14" />
      <span>Art</span>
    </div>
    <div class="referral-item referral-item--yes">
      <lucide-icon [img]="Check" [size]="14" />
      <span>Antenatal Care</span>
    </div>
    <div class="referral-item referral-item--no">
      <lucide-icon [img]="XIcon" [size]="14" />
      <span>Art</span>
    </div>
    <div class="referral-item referral-item--yes">
      <lucide-icon [img]="Check" [size]="14" />
      <span>Antenatal Care</span>
    </div>
    <div class="referral-item referral-item--no">
      <lucide-icon [img]="XIcon" [size]="14" />
      <span>Art</span>
    </div>
  </div>
</div>
