<div class="stats flex items-center">
  <ul
    class="glass flex text-text-secondary font-light items-center w-full gap-12 justify-end stats__list"
  >
    <li class="stats__card">
      <div class="stats__row">
        <lucide-icon [img]="Clock" [size]="18" [strokeWidth]="1.5" class="stats__icon" />
        <span class="text-3xl text-text-primary">8 </span>
      </div>
      <p>Daily Logins</p>
    </li>
    <li class="stats__card">
      <div class="stats__row">
        <lucide-icon [img]="CalendarClock" [size]="18" [strokeWidth]="1.5" class="stats__icon" />
        <span class="text-3xl text-text-primary">20 </span>
      </div>
      <p>Daily Clients</p>
    </li>
    <li class="stats__card">
      <div class="stats__row">
        <lucide-icon
          [img]="CalendarRangeIcon"
          [size]="18"
          [strokeWidth]="1.5"
          class="stats__icon"
        />
        <span class="text-3xl text-text-primary">112 </span>
      </div>
      <p>Monthly Clients</p>
    </li>
  </ul>
</div>
