.stats {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 6px 8px rgba(0, 0, 0, 0.199);
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
}

.stats__row {
  display: flex;
  align-items: end;
  gap: 2rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.stats__icon {
  border-radius: var(--radius-btn);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--color-text-primary);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
