<div class="glass-card flex flex-col gap-2 h-full">
  <h2 class="text-text-primary text-1xl font-semibold">Logins</h2>
  <div class="coordinator__profile-table-containers">
    <div class="appointment-line"></div>
    <ul class="login-list">
      <li class="login-item">
        <div class="login-info">
          <span class="login-time">9:34 AM → 9:41 AM </span>
          <span class="login-date">14-10-2024</span>
        </div>
      </li>
      <li class="login-item">
        <div class="login-info">
          <span class="login-time">9:34 AM → 9:41 AM </span>
          <span class="login-date">14-10-2024</span>
        </div>
      </li>
      <li class="login-item">
        <div class="login-info">
          <span class="login-time">9:34 AM → 9:41 AM </span>
          <span class="login-date">14-10-2024</span>
        </div>
      </li>
      <li class="login-item">
        <div class="login-info">
          <span class="login-time">9:34 AM → 9:41 AM </span>
          <span class="login-date">14-10-2024</span>
        </div>
      </li>
      <li class="login-item">
        <div class="login-info">
          <span class="login-time">9:34 AM → 9:41 AM </span>
          <span class="login-date">14-10-2024</span>
        </div>
      </li>
      <li class="login-item">
        <div class="login-info">
          <span class="login-time">9:34 AM → 9:41 AM </span>
          <span class="login-date">14-10-2024</span>
        </div>
      </li>
      <li class="login-item">
        <div class="login-info">
          <span class="login-time">9:34 AM → 9:41 AM </span>
          <span class="login-date">14-10-2024</span>
        </div>
      </li>
    </ul>
  </div>
</div>
