<section class="page-shell coordinator-profile">
  <div class="glass-card page-shell-inner coordinator-profile__inner">
    <div class="client-left-col coordinator-profile__left h-full">
      <app-profile-card> </app-profile-card>
    </div>
    <div class="coordinator-profile__right">
      <app-coordinator-statistics class="col-span-2"></app-coordinator-statistics>
      <app-messages></app-messages>
      <app-recent-patients class="row-span-2"></app-recent-patients>
      <app-login-history></app-login-history>
    </div>
  </div>
</section>
