<div class="glass-card client-profile__medication flex flex-col gap-2 h-full">
  <h2 class="text-text-primary text-1xl font-semibold">Medication</h2>
  <div class="table-container">
      <table class="text-left w-full">
        <thead>
          <tr class="text-text-secondary border-b-2 border-b-surface-border">
            <th>Assigned By</th>
            <th>Medication</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td>Mohammed</td>
            <td>Metformin</td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td>Mohammed</td>
            <td>Atorvastatin</td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td>Mohammed</td>
            <td>Atorvastatin</td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td>Mohammed</td>
            <td>Atorvastatin</td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td>Mohammed</td>
            <td>Atorvastatin</td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td>Mohammed</td>
            <td>Atorvastatin</td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td>Mohammed</td>
            <td>Atorvastatin</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
