<div class="">
  <div class="glass-card dashboard-recentPatients card-dark flex flex-col gap-2 h-full max-h-178">
    <div class="table-container">
      <table class="text-left w-full">
        <thead>
          <tr class="text-text-secondary border-b-2 border-b-surface-border">
            <th>ID</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Date</th>
            <th>Location</th>
            <th>Nurse Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
          <tr class="text-text-primary border-b border-b-surface-border">
            <td class="text-text-secondary">990208</td>
            <td>Mohammed</td>
            <td>0769881911</td>
            <td>2026/06/01</td>
            <td>Gauteng</td>
            <td><span class="">Mohammed</span></td>
            <td><lucide-icon [img]="Ellipsis" [size]="20" [strokeWidth]="1.5" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
