<div class="client-profile__referrals h-full flex items-center">
  <ul class="glass flex text-text-secondary items-center w-full gap-12">
    <li class="glass-cards">
      <div class="icon">
        <lucide-icon [img]="FlagIcon" [size]="18" [strokeWidth]="1.5" />
      </div>
      South African
    </li>
    <li class="glass-cards">
      <div class="icon positive-icon">
        <lucide-icon [img]="Check" [size]="18" [strokeWidth]="1.5" />
      </div>
      Positive
    </li>
    <li class="glass-cards">
      <div class="icon">
        <lucide-icon [img]="User" [size]="18" [strokeWidth]="1.5" />
      </div>
      Indian
    </li>
    <li class="glass-cards">
      <div class="icon">
        <lucide-icon [img]="BadgeCheckIcon" [size]="18" [strokeWidth]="1.5" />
      </div>
      <p>INR-00291</p>
    </li>
  </ul>
</div>
