<section class="page-shell client-profile">
  <div class="glass-card page-shell-inner client-profile__inner">
    <div class="client-left-col client-profile__left h-full">
      <app-profile-card> </app-profile-card>
    </div>
    <div class="client-profile__right">
      <app-personal-details class="col-span-2"></app-personal-details>
      <app-appointments></app-appointments>
      <app-medication></app-medication>
      <app-referrals class="col-span-2"></app-referrals>
    </div>
  </div>
</section>
