.client-profile {
}

.client-profile__inner {
  display: grid;
  grid-template-columns: 25fr 75fr;
  gap: 2rem;
}


.client-profile__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.client-profile__info {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.client-profile__name {
  position: relative;
}

.client-profile__name::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: var(--color-text-secondary);
  position: absolute;
  bottom: 5px;
  transform: translate(4px);
}
