<div class="glass-card client-profile__appointments flex flex-col gap-2 h-full">
  <h2 class="text-text-primary text-1xl font-semibold">Appointments</h2>
  <div class="appointment-wrapper">
    <div class="appointment-line"></div>
    <ul class="appointment-list">
      <li class="appointment-item">
        <div class="appointment-info">
          <span class="appointment-date">Wednesday, October 23, 2024</span>
          <span class="appointment-location">Beaufort West</span>
        </div>
      </li>
      <li class="appointment-item">
        <div class="appointment-info">
          <span class="appointment-date">Wednesday, October 16, 2024</span>
          <span class="appointment-location">Gauteng</span>
        </div>
      </li>
      <li class="appointment-item">
        <div class="appointment-info">
          <span class="appointment-date">Wednesday, October 16, 2024</span>
          <span class="appointment-location">Gauteng</span>
        </div>
      </li>
      <li class="appointment-item">
        <div class="appointment-info">
          <span class="appointment-date">Wednesday, October 16, 2024</span>
          <span class="appointment-location">Gauteng</span>
        </div>
      </li>
      <li class="appointment-item">
        <div class="appointment-info">
          <span class="appointment-date">Wednesday, October 16, 2024</span>
          <span class="appointment-location">Gauteng</span>
        </div>
      </li>
      <li class="appointment-item">
        <div class="appointment-info">
          <span class="appointment-date">Wednesday, October 16, 2024</span>
          <span class="appointment-location">Gauteng</span>
        </div>
      </li>
      <li class="appointment-item">
        <div class="appointment-info">
          <span class="appointment-date">Wednesday, October 16, 2024</span>
          <span class="appointment-location">Gauteng</span>
        </div>
      </li>
    </ul>
  </div>
</div>
