<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="login-page" novalidate>
  <div class="glass-card login-card">
    <div class="login-header">
      <img src="images/logo/twell-logo-white.svg" alt="Logo" class="login-logo w-30" />
      <h1>Welcome back</h1>
      <p>Sign in to your account</p>
    </div>

    <div class="login-form">
      <div class="form-field">
        <label for="email">EMAIL</label>
        <input
          required
          email
          type="email"
          id="email"
          name="email"
          class="form-input"
          placeholder="you@example.com"
          [(ngModel)]="formData.email"
          #email="ngModel"
        />

        @if (email.invalid && email.touched) {
          <p>not a valid email</p>
        }
      </div>

      <div class="form-field">
        <label for="password">PASSWORD</label>
        <input
          required
          type="password"
          id="password"
          name="password"
          class="form-input"
          placeholder="••••••••"
          [(ngModel)]="formData.password"
          #password="ngModel"
        />
        @if (password.invalid && password.touched) {
          <p>not a valid password</p>
        }
      </div>

      <a href="#" class="forgot-password w-fit ml-auto">Forgot password?</a>
      @if (loginError) {
        <p class="text-red-500 text-center">{{ loginError }}</p>
      }
      <button type="submit" class="btn-login">Sign In</button
      ><button type="submit" class="btn-login" (click)="testClick()">test</button>
    </div>
  </div>
</form>
