<div class="flex items-center justify-center h-screen w-full">
  <div class="flex flex-col items-center gap-4 text-center relative">
    <img
      src="images/logo/twell-logo-white.svg"
      alt="Logo"
      class="w-50 h-20 opacity-60 mb-4 text-text-primary"
    />

    <span class="absolute text-[12rem] font-bold text-white/5 leading-none select-none -z-10">
      404
    </span>

    <h1 class="text-2xl text-text-primary relative">Looks like you're lost</h1>

    <p class="text-sm text-text-secondary relative">This page doesn't exist or has been moved.</p>

    <a routerLink="/" class="text-text-primary mt-4 px-8 py-3 no-underline"> Back to Dashboard </a>
  </div>
</div>
