.dashboard-layout {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 70px 1fr;
  gap: 2rem;
  grid-template-areas:
    'sidebar header'
    'sidebar content';
}

.dashboard-layout__sidebar {
  grid-area: sidebar;
}

.dashboard-layout__header {
  grid-area: header;
}

.dashboard-layout__content {
  grid-area: content;
  overflow-y: auto;
}
