<section aria-label="Dashboard Overview" class="dashboard h-full">
  <div class="dashboard-grid p-4 h-full">
    <div class="left-col">
      <app-statistics></app-statistics>
      <div class="glass-card dashboard-barchart">
        <h2 class="text-text-primary text-1xl font-semibold">Monthly Clients</h2>
        <app-linechart></app-linechart>
      </div>
      <app-recent-patients></app-recent-patients>
    </div>
    <div class="right-col">
      <app-coordinators></app-coordinators>
      <div class="dashboard-piechart">
        <h2 class="text-text-primary text-1xl font-semibold">Positive Cases</h2>

        <app-piechart></app-piechart>
      </div>
    </div>
  </div>
</section>
