.dashboard-grid {
  display: grid;
  grid-template-columns: 70fr 30fr;
  gap: 2rem;
  height: 100%;
  overflow-y: hidden;
}

.left-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right-col div {
  flex: 1; /* 50/50 */
}

.dashboard-stats {
  flex: 0 0 auto; /* shrinks to content, doesn't grow */
}

.dashboard-barchart {
  flex: 2; /* takes more space */
}

.dashboard-recentPatients {
  flex: 1; /* takes less space */
}

.dashboard-piechart {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

app-piechart {
  flex: 1;
  min-height: 0;
  display: block;
}
