<div class="glass-card card-dark h-full">
  <div class="client-profile__img-wrapper w-full relative">
    <img src="images/client-icon.png" alt="client icon" class="w-full rounded-2xl" />
    <span class="status status-online absolute">Online</span>
  </div>
  <div
    class="mt-6 flex flex-col gap-4 text-text-primary tracking-widest justify-between font-light"
  >
    <div>
      <h3 class="tracking-[.2rem]">Mohammed Suhail</h3>
      <p class="coordinator-profile__info text-text-secondary uppercase text-xs mt-2">
        Coordinator
      </p>
    </div>
    <p class="coordinator-profile__info">
      <lucide-icon [img]="IdCard" [size]="20" class="text-text-secondary" />9902
    </p>
    <div class="border-b text-text-secondary"></div>

    <p class="coordinator-profile__info">
      <lucide-icon [img]="Phone" [size]="20" class="text-text-secondary" /> 0769881911
    </p>
    <p class="coordinator-profile__info">
      <lucide-icon [img]="MapPin" [size]="20" class="text-text-secondary" /> Gauteng
    </p>
    <p class="coordinator-profile__info">
      <lucide-icon [img]="Mail" [size]="20" class="text-text-secondary" /> msr492@gmail.com
    </p>
    <div class="border-b text-text-secondary"></div>

    <p class="text-text-secondary client-last__seen text-sm">Last Seen</p>
    <p class="client-profile__info">14-10-2024 → 9:41 AM</p>
  </div>
</div>
