.client-profile__info {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 200;
}

.client-coord__name {
  position: relative;
}

.client-coord__name::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: var(--color-text-secondary);
  position: absolute;
  bottom: 5px;
  transform: translate(4px);
}
