<div class="glass-card card-dark h-full">
  <div class="client-profile__img-wrapper w-full">
    <img src="images/client-icon.png" alt="client icon" class="w-full rounded-2xl" />
  </div>
  <div
    class="mt-6 flex flex-col gap-4 text-text-primary tracking-widest justify-between font-light"
  >
    <h3 class="tracking-[.2rem]">Mohammed Suhail</h3>
    <div class="border-b text-text-secondary"></div>
    <p class="client-profile__info">
      <lucide-icon [img]="IdCard" [size]="20" class="text-text-secondary" />9902285103089
    </p>
    <p class="client-profile__info">
      <lucide-icon [img]="Phone" [size]="20" class="text-text-secondary" /> 0769881911
    </p>
    <p class="client-profile__info">
      <lucide-icon [img]="MapPin" [size]="20" class="text-text-secondary" /> Gauteng
    </p>
    <p class="client-profile__info">
      <lucide-icon [img]="User" [size]="20" class="text-text-secondary" /> Male
    </p>
    <div class="border-b text-text-secondary"></div>

    <p class="text-text-secondary client-coord__name text-sm">Last Coodinator</p>
    <p class="client-profile__info">Jane Smith</p>
  </div>
</div>
